  @use '../util' as *;

.header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    background: var(--navbar-gradient);
    z-index: 100;

    @include breakpoint(medium) {
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        width: 100%;

        @include breakpoint(medium) {
        width: auto;
        }
    }

    &__subtitle {
        font-size: rem(14);
        font-weight: 700;
        color: var(--text-color2);
    }
}
.header:hover {
    background: var(--background);
    transition: 0s;
}
.sticky {
    padding: 5px 100px;
    background: var(--background);
}

.navigation {
    display: flex;
    &__items {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link {
        position: relative;
        list-style: none;
        a {
            position: relative;
            margin: 0 15px;
            text-decoration: none;
            color: var(--text-color1);
            letter-spacing: 2px;
            font-weight: 400px;
            transition: 0.6;
        }
    }
}